# install4j response file for Burp Suite
sys.adminRights$Boolean=false
sys.installationDir={{ burpsuite_install_path }}
sys.languageId=en
sys.programGroupDisabled$Boolean=false
sys.symlinkDir=/usr/local/bin
